.userTableContainer {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center;
  margin-top: 5rem; /* Separación superior */
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.addUserContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 0rem !important; 
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addUserIcon {
  font-size: 24px; /* Tamaño del ícono */
  color: white; /* Color del ícono */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.addUserText {
  font-size: 18px; /* Tamaño del texto */
  color: white; /* Color del texto */
}

.userTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo de la tabla */
}

.userTable th, .userTable td {
  border: 1px solid #ddd;
  color: white;
  padding: 8px;
  text-align: center;
}

.userTable th {
  background-color: orange;
  font-weight: bold;
}

.statusIndicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.statusIndicator.true {
  background-color: green;
}

.statusIndicator.false {
  background-color: red;
}
.userForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 3rem;
}

.userForm select,
.userForm input,
.userForm button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.userForm button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userForm button:hover {
  background-color: #0056b3;
}
.edit-button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
}
.edit-button:hover {
  background-color: #218838;
}
.delete-button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
}
.delete-button:hover {
  background-color: #218838;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  background-color: #007bff;;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
}
.modal-buttons button:hover{
  background-color:  #0056b3;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageInfo {
  margin: 0 10px;
}