.imgMain {
    height: 20rem; /* 25rem - 20% */
    width: 22.4rem; /* 28rem - 20% */
    padding: 1.6rem; /* 2rem - 20% */
    transition: transform 0.3s ease;
  }
  .mainSports{
    margin-top: 10rem;
  }


  @media(max-width:978px){
    .imgMain {
      height: 15rem; 
      width: 20rem; 
      padding-right:10px;
      padding-left:10px;
      padding-top:1rem;
      transition: transform 0.3s ease;
    }
    .imgMain:hover {
      transform: scale(1.1);
    }
    .filasPhotos {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .items-list {
      position: static !important; /* Cambia la posición a estática en pantallas pequeñas */
      text-align: center !important; /* Centra el texto en pantallas pequeñas */
      margin-top: 1rem !important; /* Añade un margen superior para separación */
  }
  }
  .imgMain:hover {
    transform: scale(1.1);
  }
  
  .filasPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-fluid {
    position: relative;
  }
  
  .container-fluid .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-fluid .filasPhotos {
    flex: 0 0 40%; /* 50% - 20% */
    position: relative;
    padding: 8px; /* 10px - 20% */
  }
  .items-list {
    position: absolute;
    bottom: -5rem; /* Coloca la lista justo debajo de la imagen */
    left: 5rem; /* Alinea la lista a la izquierda de la imagen */
    color: #978f7f;
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el padding de la lista */
    margin: 0; /* Quita el margin de la lista */
    text-align: left; /* Alinea el texto a la izquierda */
}

.items-list li {
    margin-bottom: 0.5rem; /* Espacio entre los ítems */
}