.professionalTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: 4rem;
  }
  
  .actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px; /* Ajustar el ancho de la acción */
    margin-bottom: 20px; /* Espacio entre los botones y la tabla */
  }
  
  .addPatientContainer, .scheduleConfigContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
.scheduleConfigContainer span{
    color: white;
  }
  .addPatientContainer span{
    color: white;
  }
  .addPatientContainer:hover, .scheduleConfigContainer:hover {
    background-color: #0056b3;
  }
  
  .addPatientIcon, .addScheduleIcon {
    font-size: 24px;
    color: white;
    margin-right: 8px;
  }
  
  .professionalTable {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px; /* Ajusta el ancho máximo de la tabla */
  }
  
  .professionalTable th, .professionalTable td {
    border: 1px solid #ddd;
    color: white;
    padding: 8px;
    text-align: center;
  }
  
  .professionalTable th {
    background-color: orange;
    font-weight: bold;
  }
  
  .professionalForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .professionalForm select,
  .professionalForm input,
  .professionalForm button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .professionalForm button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .appointmentForm button:hover {
    background-color: #0056b3;
  }
  
  .delete-button{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
  }
  .delete-button:hover{
    background-color: rgb(190, 1, 1);
  }
@media screen and (max-width: 768px) {
  .professionalsContainer {
    padding: 1rem;
  }
  
  .addProfessionalText {
    font-size: 16px;
  }
  
  .professionalForm input,
  .professionalForm button {
    max-width: 100%;
  }
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  max-height: 35rem; /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Activa el scroll vertical */
}
.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.scheduleForm label {
  display: block;
  margin-bottom: 10px;
}
.scheduleForm button {
  background-color: #007bff;
  width: 6rem;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.scheduleForm button:hover{
  background-color:  #0056b3;
}
.scheduleForm input, .scheduleForm select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.scheduleDay {
  margin-bottom: 15px;
}

.scheduleDay h3 {
  margin-bottom: 5px;
}

.schedule-button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
}
.schedule-button:hover {
  background-color: #218838;
}
.saveChange{
  background-color: #007bff;
  width: 8rem;
  height: 3rem;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}
.profesionalTimeSlotsTable {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 3rem;
}

.profesionalTimeSlotsTable th, 
.profesionalTimeSlotsTable td {
  border: 1px solid #ddd;
  color: white;
  padding: 8px;
  text-align: center;
}

.profesionalTimeSlotsTable th {
  background-color: orange;
  font-weight: bold;
}

.profesionalIdColumn {
  background-color: orange;
  font-weight: bold;
  width: 100px;
}

.timeSlotCell {
  height: 50px;
}
.modal-two {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent-two {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modalButtons-two {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modalButtons-two button {
  background-color: #007bff;;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
}
.modalButtons-two button:hover{
    background-color:  #0056b3;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editForm label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.editForm input[type="text"],
.editForm input[type="checkbox"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.editForm input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.editForm div {
  margin-bottom: 10px;
}

.editForm div label {
  display: inline-block;
  margin-left: 5px;
}

.editForm button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editForm button:hover {
  background-color: #0056b3;
}

.editForm div {
  display: flex;
  flex-direction: column;
}

.editForm div div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

